{% extends "page.html" %}

{% block content %}

  <br>
  <h1>Registro de datasets para la estaci&oacute;n ATIC </h1>
  <br>
  <br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Identificador</th>
        <th>T&iacute;tulo</th>
        <th>Tipo de Dato</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(list1|length) %}
        <tr>
          <td>{{ list1[i] }}</td>
          <td>{{ list2[i] }}</td>
          <td>{{ list3[i] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Conteo de datasets: {{ count }}</h2>
{% endblock %}
